<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'WELCOME_TITLE' | translate }}, {{account?.firstName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" id="logout">
        {{ 'LOGOUT_TITLE' | translate }}
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let station of stations; trackBy: trackId">
      <ion-item (click)="view(station)">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h2>{{station.name}}</h2>
          </ion-text>
          <p>{{station.lastTankFill | date:'medium'}}</p>
          <p>{{station.city}}</p>
          <p>{{station.location}}</p>
        </ion-label>

        <div class="progress">
          <div class="gas-progress-bar" [style.height]="station.gasLevel + '%'">
            <div class="p-absolute">
              <i>{{ station.gasLevel }}%</i>
            </div>
          </div>
        </div>

        <div class="progress">
          <div class="ben-progress-bar" [style.height]="station.benzeneLevel + '%'">
            <div class="p-absolute">
              <i>{{ station.benzeneLevel }}%</i>
            </div>
          </div>
        </div>

      </ion-item>
    </ion-card>
  </ion-list>

  <ion-item *ngIf="!stations?.length">
    <ion-label>
      No Stations found.
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="filter()">
      <ion-icon name="options"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
