<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'WELCOME_TITLE' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFilters()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isShowFilters">
    <ion-searchbar [formControl]="searchControl"></ion-searchbar>

    <ion-item>
      <ion-label>{{ 'City' | translate }}</ion-label>
      <ion-select id="field_city" interface="popover" [(ngModel)]="city" (ngModelChange)="loadAll()">
        <ion-select-option [value]="null" selected></ion-select-option>
        <ion-select-option [value]="Khartoum">Khartoum</ion-select-option>
        <ion-select-option [value]="Bahri">Bahri</ion-select-option>
        <ion-select-option [value]="Omdurman">Omdurman</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'Gas' | translate }}</ion-label>
      <ion-range min="0" max="100" step="10" snaps="true" [(ngModel)]="gasLevel" (ngModelChange)="loadAll()">
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">100 %</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'Benzene' | translate }}</ion-label>
      <ion-range min="0" max="100" step="10" snaps="true" [(ngModel)]="benLevel" (ngModelChange)="loadAll()">
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">100 %</ion-label>
      </ion-range>
    </ion-item>
  </div>

  <ion-list>
    <ion-card color="dark" *ngFor="let station of stations; trackBy: trackId">
      <ion-item color="dark" (click)="view(station)">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h2>{{station.name}}</h2>
          </ion-text>
          <p>{{station.lastTankFill | date:'medium'}}</p>
          <p>{{station.city}}</p>
          <p>{{station.location}}</p>
        </ion-label>

        <div class="progress">
          <div class="gas-progress-bar" [style.height]="station.gasLevel + '%'">
            <div class="p-absolute">
              <i>{{ station.gasLevel }}%</i>
            </div>
          </div>
        </div>

        <div class="progress">
          <div class="ben-progress-bar" [style.height]="station.benzeneLevel + '%'">
            <div class="p-absolute">
              <i>{{ station.benzeneLevel }}%</i>
            </div>
          </div>
        </div>

      </ion-item>
    </ion-card>
  </ion-list>

  <ion-item *ngIf="!stations?.length">
    <ion-label>
      No Stations found.
    </ion-label>
  </ion-item>

</ion-content>
