<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Who we are</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Oil Energy first existence in Sudan was in May 2016, when acquired the assets of PETRONAS Marketing Sudan Ltd. and
      renamed it to Oil Energy Co Ltd (OECL). In this transaction Oil Energy has inherited a long years of experience in
      downstream business counting up since the year of 1950. Earlier, the origin of the company was Mobil Oil Sudan
      which was operating in Sudan since 1950 , and till totally acquired by Petroliam Nasional Berhad (PETRONAS) in
      March 2003 and renamed it to PETRONAS Marketing Sudan Ltd.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Mission</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      To provide superior/excellent quality products and services.
      To continuously develop a committed, competent and trusted workforce to deliver high customer satisfaction.
      To strive for excellence through high operating standards and ethical business conduct to safeguard the interest
      to all stakeholders.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Vision</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      To be the Preferred Petroleum Marketing Company
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Quality Statement</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      We are committed to operate and conduct our business in a quality manner
      Customer Satisfaction is our serious goal, and all our team are considering it while running their daily business
      with our valuable clients.
    </ion-card-content>
  </ion-card>
</ion-content>
